.navbar {
	display: flex;
	justify-content: space-around;
	/* gap: 20px; */
	align-items: center;
	/* gap: 10px; */
}

.loader {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* .body {
	width: 100%;
} */
