.title {
	color: black;
}

.taskItem {
	list-style: none;
	/* width: 100%; */
	width: 100%;
	/* margin: 0; */
}

.taskWrapper {
	margin: 1rem 0;
	border-radius: 25px;
	background-color: #efe5cd;
	/* padding: 1rem; */
	width: 96%;
	height: 50%;
	display: flex;
	justify-content: space-between;
}

.buttons {
	display: flex;
	justify-content: space-around;
	gap: 6px;
}

.buttons button {
	background-color: #9db2b3;
	color: #ffffff;
	font-weight: bold;
	border-radius: 20px;
}
